In [1]:
# importing packages
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, balanced_accuracy_score, classification_report, f1_score, confusion_matrix, precision_score
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import GridSearchCV, LeaveOneOut, KFold
from imblearn.over_sampling import SMOTE

In [2]:
#Data
print(os.getcwd())

data_dir = os.getcwd() + "\\Kaggle\\Dataset_TBI.xlsx"
print(data_dir)

F:\CTSN_TBI\Machine_learning\GBM algorithm
F:\CTSN_TBI\Machine_learning\GBM algorithm\Kaggle\Dataset_TBI.xlsx

In [3]:
df_tbi = pd.read_excel(data_dir,index_col=0)
df_tbi.head()
df_tbi.info()

<class 'pandas.core.frame.DataFrame'>
Index: 102 entries, S1 to S102
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          102 non-null    int64
 1   Sex                          102 non-null    object
 2   Marshall (t0)                99 non-null     object
 3   Entry Diagnosis (t0)         102 non-null    object
 4   CRS-R (t1)                   101 non-null    float64
 5   RLAS (t1)                    102 non-null    int64
 6   DRS (t1)                     102 non-null    int64
 7   ERBI A (t1)                  102 non-null    int64
 8   ERBI B (t1)                  102 non-null    int64
 9   GOS-E (t1)                   102 non-null    int64
 10  Diagnosis at Discharge (t2)  102 non-null    object
 11  CRS-R (t2)                   90 non-null     float64
 12  RLAS (t2)                    90 non-null     float64
 13  DRS (t2)                     100 non-null    float64
 14  ERBI A (t2)                  90 non-null     float64
 15  ERBI B (t2)                  90 non-null     float64
 16  GOS-E (t2)                   102 non-null    int64
dtypes: float64(6), int64(7), object(4)
memory usage: 14.3+ KB

In [4]:
# filling missing value using fillna() 
df_tbi.notnull()
df_tbi_full= df_tbi.fillna(0) 
df_tbi_full.head()

,Age,Sex,Marshall (t0),Entry Diagnosis (t0),CRS-R (t1),RLAS (t1),DRS (t1),ERBI A (t1),ERBI B (t1),GOS-E (t1),Diagnosis at Discharge (t2),CRS-R (t2),RLAS (t2),DRS (t2),ERBI A (t2),ERBI B (t2),GOS-E (t2)
Subject,,,,,,,,,,,,,,,,,
S1,76,M,V,MCS,10.0,3,18,-175,0,3,DEATH,0.0,0.0,30.0,0.0,0.0,1
S2,28,M,III,MCS,8.0,3,20,-125,0,2,EMERSION,23.0,7.0,8.0,0.0,60.0,4
S3,20,F,II,MCS,9.0,3,18,-175,0,2,EMERSION,23.0,7.0,6.0,0.0,70.0,4
S4,22,M,II,EMERSION,23.0,4,15,-175,0,3,EMERSION,23.0,7.0,3.0,0.0,100.0,7
S5,62,M,II,EMERSION,23.0,4,15,-100,5,3,EMERSION,23.0,6.0,10.0,-50.0,90.0,3

## Data processing

### 4 class

In [5]:
df_tbi4 = df_tbi_full.copy()

In [6]:
df_tbi4['GOS-E (t2)'] = df_tbi4['GOS-E (t2)'].apply(lambda x: 1 if 1 <= x <= 2 else x)
df_tbi4['GOS-E (t2)'] = df_tbi4['GOS-E (t2)'].apply(lambda x: 3 if 3 <= x <= 4 else x)
df_tbi4['GOS-E (t2)'] = df_tbi4['GOS-E (t2)'].apply(lambda x: 2 if 5 <= x <= 6 else x)
df_tbi4['GOS-E (t2)'] = df_tbi4['GOS-E (t2)'].apply(lambda x: 4 if 7 <= x <= 8 else x)

In [7]:
df_tbi4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 102 entries, S1 to S102
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          102 non-null    int64
 1   Sex                          102 non-null    object
 2   Marshall (t0)                102 non-null    object
 3   Entry Diagnosis (t0)         102 non-null    object
 4   CRS-R (t1)                   102 non-null    float64
 5   RLAS (t1)                    102 non-null    int64
 6   DRS (t1)                     102 non-null    int64
 7   ERBI A (t1)                  102 non-null    int64
 8   ERBI B (t1)                  102 non-null    int64
 9   GOS-E (t1)                   102 non-null    int64
 10  Diagnosis at Discharge (t2)  102 non-null    object
 11  CRS-R (t2)                   102 non-null    float64
 12  RLAS (t2)                    102 non-null    float64
 13  DRS (t2)                     102 non-null    float64
 14  ERBI A (t2)                  102 non-null    float64
 15  ERBI B (t2)                  102 non-null    float64
 16  GOS-E (t2)                   102 non-null    int64
dtypes: float64(6), int64(7), object(4)
memory usage: 14.3+ KB

## Encoding

In [8]:
from sklearn import preprocessing 
from sklearn.preprocessing import OneHotEncoder

In [9]:
mapping = {
    'II': '2',
    'III': '3',
    'IV': '4',
    'V': '5',
    'VI': '6'}
df_tbi4['Marshall (t0)'] = df_tbi4['Marshall (t0)'].replace(mapping)

#### Label encoding

In [10]:
# how to understand word labels. 
label_encoder = preprocessing.LabelEncoder() 

# Encode labels in column 'species'. 
df_tbi4['Sex']= label_encoder.fit_transform(df_tbi4['Sex']) 
df_tbi4['Entry Diagnosis (t0)']= label_encoder.fit_transform(df_tbi4['Entry Diagnosis (t0)'])
df_tbi4['Diagnosis at Discharge (t2)']= label_encoder.fit_transform(df_tbi4['Diagnosis at Discharge (t2)'])
df_tbi4x= df_tbi4.drop('Subject', 1, errors='ignore')
df_tbi4x= df_tbi4.drop('GOS-E (t2)', 1, errors='ignore')

df_tbi4.head()

C:\Users\HANGO\AppData\Local\Temp\ipykernel_9412\2969400478.py:8: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df_tbi4x= df_tbi4.drop('Subject', 1, errors='ignore')
C:\Users\HANGO\AppData\Local\Temp\ipykernel_9412\2969400478.py:9: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df_tbi4x= df_tbi4.drop('GOS-E (t2)', 1, errors='ignore')

,Age,Sex,Marshall (t0),Entry Diagnosis (t0),CRS-R (t1),RLAS (t1),DRS (t1),ERBI A (t1),ERBI B (t1),GOS-E (t1),Diagnosis at Discharge (t2),CRS-R (t2),RLAS (t2),DRS (t2),ERBI A (t2),ERBI B (t2),GOS-E (t2)
Subject,,,,,,,,,,,,,,,,,
S1,76,1,5,2,10.0,3,18,-175,0,3,0,0.0,0.0,30.0,0.0,0.0,1
S2,28,1,3,2,8.0,3,20,-125,0,2,1,23.0,7.0,8.0,0.0,60.0,3
S3,20,0,2,2,9.0,3,18,-175,0,2,1,23.0,7.0,6.0,0.0,70.0,3
S4,22,1,2,0,23.0,4,15,-175,0,3,1,23.0,7.0,3.0,0.0,100.0,4
S5,62,1,2,0,23.0,4,15,-100,5,3,1,23.0,6.0,10.0,-50.0,90.0,3

#### One-hot

### Spliting data

In [11]:
df_tbi4x.info()

<class 'pandas.core.frame.DataFrame'>
Index: 102 entries, S1 to S102
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          102 non-null    int64
 1   Sex                          102 non-null    int32
 2   Marshall (t0)                102 non-null    object
 3   Entry Diagnosis (t0)         102 non-null    int32
 4   CRS-R (t1)                   102 non-null    float64
 5   RLAS (t1)                    102 non-null    int64
 6   DRS (t1)                     102 non-null    int64
 7   ERBI A (t1)                  102 non-null    int64
 8   ERBI B (t1)                  102 non-null    int64
 9   GOS-E (t1)                   102 non-null    int64
 10  Diagnosis at Discharge (t2)  102 non-null    int32
 11  CRS-R (t2)                   102 non-null    float64
 12  RLAS (t2)                    102 non-null    float64
 13  DRS (t2)                     102 non-null    float64
 14  ERBI A (t2)                  102 non-null    float64
 15  ERBI B (t2)                  102 non-null    float64
dtypes: float64(6), int32(3), int64(6), object(1)
memory usage: 12.4+ KB

In [12]:
selected_columns = ["CRS-R (t2)", "ERBI B (t2)", "DRS (t2)", "Age", "Marshall (t0)"]  # Replace with the names of the columns you want to select

# Select the columns
df_select = df_tbi4[selected_columns]
df_select.head()

         CRS-R (t2)  ERBI B (t2)  DRS (t2)  Age Marshall (t0)
Subject
S1              0.0          0.0      30.0   76             5
S2             23.0         60.0       8.0   28             3
S3             23.0         70.0       6.0   20             2
S4             23.0        100.0       3.0   22             2
S5             23.0         90.0      10.0   62             2

In [13]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df_sc = df_select
df_new_tbi_target = df_tbi4["GOS-E (t2)"]
df_new_array = scaler.fit_transform(df_sc)
df_tbi_f = pd.DataFrame(df_new_array)
df_tbi_f

            0         1         2         3         4
0   -2.275885 -1.231304  2.082747  1.380828  1.079712
1    0.556596  0.265336 -0.465609 -0.960077 -0.279925
2    0.556596  0.514776 -0.697277 -1.350228 -0.959744
3    0.556596  1.263096 -1.044780 -1.252690 -0.959744
4    0.556596  1.013656 -0.233940  0.698064 -0.959744
..        ...       ...       ...       ...       ...
97   0.556596  1.263096 -1.392283 -1.398997 -0.959744
98   0.556596 -1.231304  0.692735  1.868516  1.079712
99   0.556596 -0.482984  0.229397  1.380828 -0.959744
100  0.556596 -1.106584 -0.581443 -1.252690  1.079712
101  0.556596  0.514776 -0.002271  0.454220 -0.959744

[102 rows x 5 columns]

In [14]:
df_tbi_f.columns = df_select.columns.to_list()
df_tbi_f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CRS-R (t2)     102 non-null    float64
 1   ERBI B (t2)    102 non-null    float64
 2   DRS (t2)       102 non-null    float64
 3   Age            102 non-null    float64
 4   Marshall (t0)  102 non-null    float64
dtypes: float64(5)
memory usage: 4.1 KB

In [15]:
from sklearn.impute import KNNImputer
knn_imputer = KNNImputer(n_neighbors=5)
df= pd.DataFrame(knn_imputer.fit_transform(df_tbi_f), columns=df_tbi_f.columns)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CRS-R (t2)     102 non-null    float64
 1   ERBI B (t2)    102 non-null    float64
 2   DRS (t2)       102 non-null    float64
 3   Age            102 non-null    float64
 4   Marshall (t0)  102 non-null    float64
dtypes: float64(5)
memory usage: 4.1 KB

In [16]:
df.head()

   CRS-R (t2)  ERBI B (t2)  DRS (t2)       Age  Marshall (t0)
0   -2.275885    -1.231304  2.082747  1.380828       1.079712
1    0.556596     0.265336 -0.465609 -0.960077      -0.279925
2    0.556596     0.514776 -0.697277 -1.350228      -0.959744
3    0.556596     1.263096 -1.044780 -1.252690      -0.959744
4    0.556596     1.013656 -0.233940  0.698064      -0.959744

In [17]:
X = df
#X=(df_tbi4x.iloc[:,1:]).drop(columns=["GOS-E (t2)"]) # Features
y = df_tbi4["GOS-E (t2)"]   # Target variable

In [18]:
print(y.value_counts())

3    38
4    29
1    26
2     9
Name: GOS-E (t2), dtype: int64

In [19]:
print(X.value_counts())

CRS-R (t2)  ERBI B (t2)  DRS (t2)   Age        Marshall (t0)
-2.275885   -1.231304    -1.392283   1.332059   1.079712        1
 0.556596    0.639496    -0.697277  -1.301459  -0.959744        1
             1.013656    -0.813112  -0.765002  -0.959744        1
                                    -1.008846  -0.959744        1
                         -0.928946  -0.423620  -0.959744        1
                                                               ..
 0.433444    0.015896    -0.233940  -0.862539  -0.279925        1
            -0.358264     0.345232  -1.301459   1.079712        1
            -1.231304     1.040238   0.698064   1.079712        1
 0.310293    1.013656    -0.697277  -1.398997  -0.959744        1
 0.556596    1.263096    -0.813112  -1.155152  -0.279925        1
Length: 102, dtype: int64

In [ ]:
from sklearn.manifold import TSNE
model = TSNE(n_components = 2, perplexity=25, random_state = 0)
tsne_data = model.fit_transform(X)
tsne_data = np.vstack((tsne_data.T, y)).T
tsne_df = pd.DataFrame(data = tsne_data,
     columns =("Dim_1", "Dim_2", "label"))

sns.scatterplot(data=tsne_df, x='Dim_1', y='Dim_2',
               hue='label', palette="bright")
plt.show()

## Model

In [20]:
from sklearn.model_selection import GridSearchCV, LeaveOneOut
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB

# Define your X and y here

# Define the models with their hyperparameter grids
svm_model = make_pipeline(SVC())
svm_param_grid = {'svc__kernel': ['linear', 'rbf']}

logreg_model = make_pipeline(LogisticRegression())
logreg_param_grid = {'logisticregression__C': [0.1, 1, 10]}

dt_model = make_pipeline(DecisionTreeClassifier())
dt_param_grid = {'decisiontreeclassifier__max_depth': [None, 10, 20], 'decisiontreeclassifier__min_samples_split': [2, 5, 10]}

knn_model = make_pipeline(KNeighborsClassifier())
knn_param_grid = {'kneighborsclassifier__n_neighbors': [3, 5, 7]}

gnb_model = make_pipeline(GaussianNB())

# Create a list of models with their corresponding parameter grids
models = [
    (logreg_model, logreg_param_grid),
    (svm_model, svm_param_grid),
    (dt_model, dt_param_grid),
    (knn_model, knn_param_grid),
    (gnb_model, {})  # GaussianNB does not have specific hyperparameters to tune
]

### Model + GridSearchCV

In [21]:
X = df
#X=(df_tbi4x.iloc[:,1:]).drop(columns=["GOS-E (t2)"]) # Features
y = df_tbi4["GOS-E (t2)"]   # Target variable

#### LOOCV

In [ ]:
# Define Leave-One-Out Cross-Validation
loo = LeaveOneOut()

# Perform GridSearchCV for each model
for model, param_grid in models:
    model_name = model.steps[-1][0]  # Extract the name of the classifier
    
    grid_search = GridSearchCV(model, param_grid, cv=loo, scoring='accuracy')
    grid_search.fit(X, y)
    
    best_params = grid_search.best_params_
    best_score = grid_search.best_score_
    
    print(f'Best Parameters ({model_name}): {best_params}')
    print(f'Best Accuracy ({model_name}): {best_score}')

In [22]:
# Initialize lists to store results
accuracy_scores = []
f1_scores = []
sensitivity_scores = []
specificity_scores = []

# Use leave-one-out cross-validation for evaluation
loo = LeaveOneOut()

# Iterate over models
for model, param_grid in models:
    # Perform grid search with cross-validation
    grid_search = GridSearchCV(model, param_grid, cv=loo, scoring='accuracy')
    grid_search.fit(X, y)
    
    # Get best estimator
    best_model = grid_search.best_estimator_
    
    y_true = []
    y_pred = []
    for train_index, test_index in loo.split(X,y):
        X_train, X_test = X.iloc[train_index], X.iloc[test_index]
        y_train, y_test = y.iloc[train_index], y.iloc[test_index]
        
        # Train model on training data
        best_model.fit(X_train, y_train)
        
        # Predict on test data
        y_pred.extend(best_model.predict(X_test))
        y_true.extend(y_test)
    
    # Calculate evaluation metrics
    accuracy = accuracy_score(y_true, y_pred)
    f1 = f1_score(y_true, y_pred, average='weighted')  # Specify average='weighted' for multiclass
    conf_matrix = confusion_matrix(y_true, y_pred)
    
    # Calculate sensitivity and specificity for each class
    sensitivity = []
    specificity = []
    for i in range(conf_matrix.shape[0]):
        tp = conf_matrix[i, i]
        fn = np.sum(conf_matrix[i, :]) - tp
        fp = np.sum(conf_matrix[:, i]) - tp
        tn = np.sum(conf_matrix) - tp - fn - fp
        
        sensitivity.append(tp / (tp + fn))
        specificity.append(tn / (tn + fp))
    
    # Append mean sensitivity and specificity to lists
    sensitivity_scores.append(np.mean(sensitivity))
    specificity_scores.append(np.mean(specificity))
    
    # Append results to lists
    accuracy_scores.append(accuracy)
    f1_scores.append(f1)

# Print results
for i, (model, _) in enumerate(models):
    print(f"Model {i+1}: {list(model.named_steps.keys())} - Accuracy: {accuracy_scores[i]}, F1 Score: {f1_scores[i]}")
    print(f"Mean Sensitivity (Recall): {sensitivity_scores[i]}, Mean Specificity: {specificity_scores[i]}")

Model 1: ['logisticregression'] - Accuracy: 0.8529411764705882, F1 Score: 0.8195779914529916
Mean Sensitivity (Recall): 0.706442831215971, Mean Specificity: 0.9464770676830166
Model 2: ['svc'] - Accuracy: 0.8431372549019608, F1 Score: 0.8110516934046345
Mean Sensitivity (Recall): 0.6998638838475499, Mean Specificity: 0.9435340026145235
Model 3: ['decisiontreeclassifier'] - Accuracy: 0.8235294117647058, F1 Score: 0.8319429590017825
Mean Sensitivity (Recall): 0.7592508570276265, Mean Specificity: 0.9430581639416704
Model 4: ['kneighborsclassifier'] - Accuracy: 0.8235294117647058, F1 Score: 0.8254213966288271
Mean Sensitivity (Recall): 0.7602979043541657, Mean Specificity: 0.940020706386492
Model 5: ['gaussiannb'] - Accuracy: 0.5392156862745098, F1 Score: 0.5246302029583764
Mean Sensitivity (Recall): 0.6124218592458156, Mean Specificity: 0.8682132498585173

#### K-fold

In [ ]:

# Define 10-fold cross-validation
k_fold = KFold(n_splits=10)

# Perform GridSearchCV for each model
for model, param_grid in models:
    model_name = model.steps[-1][0]  # Extract the name of the classifier
    
    grid_search = GridSearchCV(model, param_grid, cv=k_fold, scoring='accuracy')
    grid_search.fit( X, y)
    
    best_params = grid_search.best_params_
    best_score = grid_search.best_score_
    
    print(f'Best Parameters ({model_name}): {best_params}')
    print(f'Best Accuracy ({model_name}): {best_score}')

In [ ]:
# Initialize lists to store results
accuracy_scores = []
f1_scores = []
sensitivity_scores = []
specificity_scores = []

# Use leave-one-out cross-validation for evaluation
k_fold = KFold(n_splits=10)

# Iterate over models
for model, param_grid in models:
    # Perform grid search with cross-validation
    grid_search = GridSearchCV(model, param_grid, cv=k_fold, scoring='accuracy')
    grid_search.fit(X, y)
    
    # Get best estimator
    best_model = grid_search.best_estimator_
    
    y_true = []
    y_pred = []
    for train_index, test_index in k_fold.split(X,y):
        X_train, X_test = X.iloc[train_index], X.iloc[test_index]
        y_train, y_test = y.iloc[train_index], y.iloc[test_index]
        smote = SMOTE(random_state= None)
        X_resampled, y_resampled = smote.fit_resample(X_train, y_train)
        # Train model on training data
        best_model.fit(X_resampled, y_resample)
        
        # Predict on test data
        y_pred.extend(best_model.predict(X_test))
        y_true.extend(y_test)
    
    # Calculate evaluation metrics
    accuracy = accuracy_score(y_true, y_pred)
    f1 = f1_score(y_true, y_pred, average='weighted')  # Specify average='weighted' for multiclass
    conf_matrix = confusion_matrix(y_true, y_pred)
    
    # Calculate sensitivity and specificity for each class
    sensitivity = []
    specificity = []
    for i in range(conf_matrix.shape[0]):
        tp = conf_matrix[i, i]
        fn = np.sum(conf_matrix[i, :]) - tp
        fp = np.sum(conf_matrix[:, i]) - tp
        tn = np.sum(conf_matrix) - tp - fn - fp
        
        sensitivity.append(tp / (tp + fn))
        specificity.append(tn / (tn + fp))
    
    # Append mean sensitivity and specificity to lists
    sensitivity_scores.append(np.mean(sensitivity))
    specificity_scores.append(np.mean(specificity))
    
    # Append results to lists
    accuracy_scores.append(accuracy)
    f1_scores.append(f1)

# Print results
for i, (model, _) in enumerate(models):
    print(f"Model {i+1}: {list(model.named_steps.keys())} - Accuracy: {accuracy_scores[i]}, F1 Score: {f1_scores[i]}")
    print(f"Mean Sensitivity (Recall): {sensitivity_scores[i]}, Mean Specificity: {specificity_scores[i]}")

## SMOTE + GridSearch CV

In [ ]:
from imblearn.over_sampling import SMOTE
# Apply SMOTE to address class imbalance
smote = SMOTE(random_state= None)
X_resampled, y_resampled = smote.fit_resample(X, y)
print(f'''Shape of X before SMOTE: {X.shape}
Shape of X after SMOTE: {X_resampled.shape}''')

In [ ]:
print(y_resampled.value_counts())

In [ ]:

# Define Leave-One-Out Cross-Validation
loo = LeaveOneOut()

# Perform GridSearchCV for each model
for model, param_grid in models:
    model_name = model.steps[-1][0]  # Extract the name of the classifier
    
    grid_search = GridSearchCV(model, param_grid, cv=loo, scoring='accuracy')
    grid_search.fit(X_resampled, y_resampled)
    
    best_params = grid_search.best_params_
    best_score = grid_search.best_score_
    
    print(f'Best Parameters ({model_name}): {best_params}')
    print(f'Best Accuracy ({model_name}): {best_score}')

In [ ]:

# Define 10-fold cross-validation
k_fold = KFold(n_splits=10)

# Perform GridSearchCV for each model
for model, param_grid in models:
    model_name = model.steps[-1][0]  # Extract the name of the classifier
    
    grid_search = GridSearchCV(model, param_grid, cv=k_fold, scoring='accuracy')
    grid_search.fit( X_resampled, y_resampled)
    
    best_params = grid_search.best_params_
    best_score = grid_search.best_score_
    
    print(f'Best Parameters ({model_name}): {best_params}')
    print(f'Best Accuracy ({model_name}): {best_score}')

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import make_scorer, accuracy_score, f1_score, confusion_matrix


# Define a custom scoring function to compute sensitivity and specificity
def sensitivity_specificity_scoring(y_true, y_pred):
    conf_matrix = confusion_matrix(y_true, y_pred)
    tn, fp, fn, tp = conf_matrix.ravel()
    sensitivity = tp / (tp + fn)
    specificity = tn / (tn + fp)
    return sensitivity, specificity

# Create a scoring dictionary with multiple metrics
scoring = {
    'accuracy': make_scorer(accuracy_score),
    'f1_score': make_scorer(f1_score, average='weighted'),
    'sensitivity': make_scorer(sensitivity_specificity_scoring, greater_is_better=True),
    'specificity': make_scorer(sensitivity_specificity_scoring, greater_is_better=True)
}

# Define the parameter grid for Random Forest
param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [None, 10, 20],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

# Initialize Random Forest classifier
rf_classifier = RandomForestClassifier()

# Perform grid search with cross-validation
grid_search = GridSearchCV(estimator=rf_classifier, param_grid=param_grid, cv=10, scoring=scoring, refit='accuracy')
grid_search.fit(X,y)

# Get the best estimator
best_rf_classifier = grid_search.best_estimator_

# Get the results
cv_results = grid_search.cv_results_

# Print the best parameters and scores
print("Best Parameters:", grid_search.best_params_)
print("Best Accuracy Score:", grid_search.best_score_)
print("Best F1 Score:", cv_results['mean_test_f1_score'][grid_search.best_index_])
print("Best Sensitivity:", cv_results['mean_test_sensitivity'][grid_search.best_index_])
print("Best Specificity:", cv_results['mean_test_specificity'][grid_search.best_index_])